body {
	background-color: #0f0f0f;
}

#terminal {
	font-family: 'Source Code Pro';
	font-size: 25px;
	background-color: #0f0f0f;
	padding: 20px;
	color: #ddd;
	height: 500px;
	width: 500px;
	margin: auto;
	overflow: scroll;
}

.command {
	margin: 10px 0 10px 0;
}