body {
	background-color: #0f0f0f;
}

#terminal {
	font-family: 'Source Code Pro';
	font-size: 25px;
	background-color: #0f0f0f;
	padding: 20px;
	color: #ccc;
	height: 500px;
	width: 500px;
	margin: auto;
	overflow: hidden;
}

.command {
	margin: 10px 0 10px 0;
}

.result {
	margin: 10px 0 10px 10px;
	font-size: 35px;
	color: #eee;
}